<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="Shortcut Icon" type="image/x-icon" href="images/mau.jpg" />
<link href="css/main.css" rel="stylesheet" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title></title>
</head>
<body>
	<div class="headArea">
		<div class="headMenu">
			<ul>
			</ul>
		</div>
	</div>
	<div class="bodyArea">
		<div id="main">
		<h2 class="form-signin-heading">This is registerResult</h2>
		<a th:href="@{/login}" >back to login</a>
		</div>
	</div>
	<div class="footArea"></div>
</body>
</html>
